@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$colorRed: hsl(0, 100%, 74%);
$colorGreen: hsl(154, 59%, 51%);
$accentBlue: hsl(248, 32%, 49%);
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);
$font: 'Poppins';
*{
	transition: 0.25s;
}
html{
	font: 16px/1.6 $font, sans-serif, system-ui;
}
body{
	background: $colorRed url(images/bg-intro-mobile.png);
}
.header{
	color: whitesmoke;
	text-align: center;
	margin-top: 5.5rem;
}
.title{
	font-size: 1.9rem;
	font-weight: 800;
	line-height: 1.1;
	padding: 0 2rem;
	margin-bottom: 0;
}
.tagline{
	font-weight: 600;
	font-size: 1.15rem;
	padding: 0.95rem;
	line-height: 1.5;
	margin-top: 0.75rem;
}
.main{
	margin: 1.5rem;
}
.offert{
	padding: 1rem 3.5rem;
	margin-top: 2.65rem;
	color: whitesmoke;
	background: $accentBlue;
	text-align: center;
	font-size: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 8px 0 rgba(black, 0.15);
}
.remark{
	font-weight: 800;
}
.form{
	background: white;
	padding: 1.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 8px 0 rgba(black, 0.15);
}
.input{
	padding: 1rem;
	border: 1px solid rgba($grayishBlue, 0.5);
	border-radius: 0.25rem;
	outline: none;
	width: 100%;
}
.input:not(.input:first-child){
	margin-top: 1.25rem;
}
.input::placeholder{
	font-weight: bolder;
	font-size: 0.94rem;
}
.input:focus{
	border-color: darken($grayishBlue, 50%);
}
.error-input{
	background: url('./images/icon-error.svg') no-repeat 96% center;
}
.error-helper{
	font-size: small;
	font-style: italic;
	font-weight: 600;
	text-align: right;
	margin-top: 0;
	color: $colorRed;
	display: none;
}
.error-helper--active{
	display: block;
}
.button{
	width: 100%;
	margin-top: 1rem;
	padding: 1.15rem;
	border: none;
	background: $colorGreen;
	border-radius: 0.25rem;
	text-align: center;
	font-weight: 600;
	font-size: 0.95rem;
	text-transform: uppercase;
	color: white;
	box-shadow: 0 -4px 0 darken($colorGreen, 5%)	inset;
}
.button:hover{
	background: lighten($colorGreen, 20%);
	box-shadow: 0 -4px 0 lighten($colorGreen, 10%)	inset;
	cursor: pointer;
}
.disclaimer{
	margin-top: 0.5rem;
	padding: 0 1.5rem;
	text-align: center;
	font-weight: bold;
	font-size: small;
	color: $grayishBlue;
}
.terms{
	color: $colorRed;
	font-weight: bolder;
}
@media screen and (min-width: 768px) {
	.container{
		display: flex;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
	}
	.header{
		text-align: initial;
	}
	.title{
		padding-left: 1rem;
		font-size: 3.5rem;
	}
	.main{
		width: 70rem;
	}
	.form{
		padding: 3rem;
	}
}
@media screen and (min-width: 1280px) {
		body{
		min-height: 100vh;
		display: grid;
		place-items: center;
	}
}